@import '~@fluentui/react/dist/sass/References.scss';


.error {
    font-weight: $ms-font-weight-semibold;
    color: red;
}

.brand {
    color: #003B65 !important;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-weight: 900 !important;
    font-size: clamp(14px, 4vw, 22px) !important; //calc(.5 * (5vh + 1.1vw)) !important; //24px !important;
    zoom: 1;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    margin-left: 200px;
    margin-top: 35px;
    height: 35px;
}

.brandUser {
    color: #003B65 !important;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    zoom: 1;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 65px;
    margin-right: 20px;
    height: 35px;
    float: right !important;
}

.brand2 {
    color: #fff !important;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-weight: 900 !important;
    font-size: clamp(14px, 4vw, 22px) !important; //calc(.5 * (5vh + 1.1vw)) !important; //24px !important;
    zoom: 1;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    margin-left: 200px;
    margin-top: 35px;
    height: 35px;
}

.brandUser2 {
    color: #06b5f7 !important;
    //display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    zoom: 1;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 75px;
    margin-right: 20px;
    height: 35px;
    float: right !important;
}

.menuLogo {
    width: 100%;
    margin: -75px 0 0 735px;
    font-family: Arial,Helvetica,sans-serif;
    color: #3c6e6a;
    text-shadow: -1px -1px 0 #f4f8f9, 1px -1px 0 #f4f8f9, -1px 1px 0 #f4f8f9, 1px 1px 0 #f4f8f9;
    clear: left;
}

.newbannerngx {
    height: 70px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.newfbnlogo {
    height: 40px;
    width: 165px;
    margin-left: 20px !important;
    margin-top: 15px !important;
    vertical-align: middle;
    display: inline-block;
}

.navbarcollapse {
    flex-direction: row !important;
    border: none !important;
    margin-left: 50px !important;
    border-bottom: none !important;
    outline: none !important;
    border-bottom-color: #fff !important;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.newbanner {
    height: 90px;
    width: 100%;
    overflow: hidden;
    background-color: #ccc;
    background-image: url(https://svrfk.sharepoint.com/sites/SPHackthon/SiteAssets/CustomScript/SPH_hedcut_banner2.jpg);
}