
#O365_MainLink_Settings {
    display: none;
}

#O365_MainLink_Help {
    display: none;
}

.root-94 {
    display: none;
}

.root-130 {
    display: none;
}

.flexContainer-81 {
    display: none;
}

#sbcId {
    display: none;
}

#SuiteNavPlaceholder {
    display: none;
}

#spCommandBar {
    display: none;
}

.root-145 {
    display: none;
}
